<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>

  <audio>
    <volume_fx value ="30"/>
    <volume_music value ="20"/>
  </audio>
  
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="640" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <maps map ="level1_WithLayers.tmx"></maps>
    <maps map ="Level2.tmx"></maps>
  </scene>

</config>